@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply font-sans text-stone-800 antialiased;
  }
}

@layer utilities {
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }
  .pb-nav {
    padding-bottom: calc(4rem + env(safe-area-inset-bottom, 0px));
  }
}
