{% extends "registration/base.html" %}
{% load oidc %}

{% block content %}
<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
    </div>
    <form class="user" action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control form-control-user"
                id="id_username" aria-describedby="emailHelp" name="username"
                placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-user"
                id="id_password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">
            Login
        </button>
        {% use_oidc as use_oidc %}
        {% if use_oidc %}
        <div style="text-align: center;">or</div>
        <a href="{% url 'oidc_authentication_init' %}" class="btn btn-success btn-user btn-block">
            Login via {% oidc_provider %}
        </a>
        {% endif %}
    </form>
    <hr>
    <div class="text-center">
        <a class="small" href="#">Forgot Password?</a>
    </div>
    <div class="text-center">
        <a class="small" href="{% url "frontend:register" %}">Create an Account!</a>
    </div>
</div>
{% endblock %}