{% extends "registration/base.html" %}

{% block content %}
<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Let's get started!</h1>
    </div>
    <form class="user" action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control form-control-user"
                id="id_username" aria-describedby="emailHelp" name="username"
                placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-user"
                id="id_password1" name="password1" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-user"
                id="id_password2" name="password2" placeholder="Repeat Password">
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">
            Login
        </button>
        <hr>
    </form>
    <div class="text-center">
        <a class="small" href="{% url "login" %}">Already have an account? Sign in!</a>
    </div>
</div>
{% endblock %}
