[Unit]
Description=MoodyDuck web container
After=network-online.target moodyduck-redis.service
Wants=network-online.target
Requires=moodyduck-redis.service

[Container]
Image=git.private.coffee/kumi/moodyduck:latest
ContainerName=moodyduck-web
Network=moodyduck.network
Volume=/etc/moodyduck/settings.ini:/app/moodyduck.ini:ro,Z
Volume=moodyduck-data:/app/data:Z
Environment=MOODYDUCK_SETTINGS=/app/moodyduck.ini
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
