[Unit]
Description=MoodyDuck Celery beat container
After=network-online.target moodyduck-redis.service moodyduck-web.service
Wants=network-online.target
Requires=moodyduck-redis.service moodyduck-web.service

[Container]
Image=git.private.coffee/kumi/moodyduck:latest
ContainerName=moodyduck-beat
Network=moodyduck.network
Volume=/etc/moodyduck/settings.ini:/app/moodyduck.ini:ro,Z
Volume=moodyduck-data:/app/data:Z
Environment=MOODYDUCK_SETTINGS=/app/moodyduck.ini
Exec=beat
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
