{% extends "frontend/base.html" %}
{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Delete {{ object.time }} Notification?</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <p>Are you sure you wish to delete this notification? This cannot be undone.</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <button class="form-control btn-danger" type="submit">Delete Notification</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
