{% load i18n %}
{% load dream_stats %}
<!-- Dream Stats -->
<div class="row">
    <!-- Total Dreams -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-start border-primary border-3 shadow h-100 py-2">
            <div class="card-body">
                <div class="row g-0 align-items-center">
                    <div class="col me-2">
                        <div class="small fw-bold text-primary text-uppercase mb-1">Dream count (total)</div>
                        <div class="h5 mb-0 fw-bold text-dark">{% total_dreams %}</div>
                    </div>
                    <div class="col-auto">
                        <i class="ph ph-book-open fa-2x text-muted"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Weekly Dreams -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-start border-success border-3 shadow h-100 py-2">
            <div class="card-body">
                <div class="row g-0 align-items-center">
                    <div class="col me-2">
                        <div class="small fw-bold text-success text-uppercase mb-1">Dreams (weekly)</div>
                        <div class="h5 mb-0 fw-bold text-dark">{% weekly_dreams %}</div>
                    </div>
                    <div class="col-auto">
                        <i class="ph ph-calendar fa-2x text-muted"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Special Dreams -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-start border-info border-3 shadow h-100 py-2">
            <div class="card-body">
                <div class="row g-0 align-items-center">
                    <div class="col me-2">
                        <div class="small fw-bold text-info text-uppercase mb-1">Special Dreams (lucid / wet)</div>
                        <div class="row g-0 align-items-center">
                            <div class="col-auto">
                                {% special_dreams_weekly as weekly %}
                                <div class="h5 mb-0 me-3 fw-bold text-dark">
                                    {{ weekly.0 }} / {{ weekly.1 }} <sub><i>(weekly)</i></sub>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="{{ moodobj.icon }} fa-2x text-muted"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Most common theme -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-start border-warning border-3 shadow h-100 py-2">
            <div class="card-body">
                <div class="row g-0 align-items-center">
                    <div class="col me-2">
                        <div class="small fw-bold text-warning text-uppercase mb-1">Most Common Theme (weekly)</div>
                        {% most_common_theme_weekly as theme %}
                        <div class="h5 mb-0 fw-bold text-dark">
                            {{ theme.0 }} <sub><i>({{ theme.1 }})</i></sub>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="ph ph-bed fa-2x text-muted"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
