{% extends "frontend/base.html" %}
{% load i18n %}
{% block content %}
<div class="card mb-4">
  <div class="card-header">{% trans "Your Themes" %}</div>
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-hover table-clickable mb-0" id="dataTable">
        <thead>
          <tr><th>{% trans "Name" %}</th></tr>
        </thead>
        <tbody>
          {% for theme in object_list %}
          <tr onclick="window.location.href='{% url "dreams:theme_edit" theme.id %}'">
            <td>
              <i style="color:{{ theme.color }}" class="{{ theme.icon }}"></i> {{ theme }}
            </td>
          </tr>
          {% empty %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
